<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359682914046-al888dibqlffu190rkhol033gpl0o05e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359682914046-al888dibqlffu190rkhol033gpl0o05e</string>
	<key>API_KEY</key>
	<string>AIzaSyAJHOXUXvLN1y3OXe_zAwfIB4XLGJnt-WY</string>
	<key>GCM_SENDER_ID</key>
	<string>359682914046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.private-chat-app</string>
	<key>PROJECT_ID</key>
	<string>privatechatapp-b765d</string>
	<key>STORAGE_BUCKET</key>
	<string>privatechatapp-b765d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359682914046:ios:1d2ec211136b1329a557af</string>
</dict>
</plist>